@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Share+Tech');

body {
  background-color: #6198b8;
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
}

#page-title{
  font-family: 'Share Tech', sans-serif;
  font-size: 40px;
  color: #dddddd;
}

#break-label,
#break-length,
#session-label,
#session-length {
  font-size: 16px;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.display-container,
.control-container {
  margin: 0 10px 0 10px;
  border: 1px solid #150578;
  border-radius: 5px;
  padding: 0 5px 10px 5px;
  background-color: #449DD1;
}

.display-container{
  box-shadow: 3px 3px 12px black;
}

.control-container{
  box-shadow: 1px 1px 4px black;
}

button{
  cursor: pointer;
  background-color: #d17544;
  border: none;
  border-radius: 2px;
  margin: 2px;
  outline: none;
}

button:hover{
  background-color: #d15244;
}
